<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="HSJN FinWisdom is your trusted source for mastering trading. Discover our mission and commitment to empowering your financial success.">
    <title>About Us - HSJN FinWisdom</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <style>
      @media (min-width: 768px) {
        #laptop-container {
          margin-bottom: 3rem;
        }
      }
      #quizbutton{
        transform: translateY(-35px);
      }
      .youtube-video {
        width: 100%;
        height: 100%;
    }
    .accordion-button{
      background-color: rgb(238, 238, 238);
      margin-bottom: 10px;
  }
  #choose-us{
    display: flex;
    align-items: center;
    justify-content: center;
  }
    #yt-font{color: #666; font-size: 1.1rem; text-align: justify;}
    .num{
      font-size: 2rem;
      font-weight: 500;
    }
    .num-icon{
      font-size: 2rem;
      color: navy;
    }
    @media (min-width: 776px) {
      #yt-font {
        font-size: 1.4rem;
      }
    }
    </style>
    <style>
      .contain {
        position: relative;
        border: 3px solid #00cba9;
         border-radius: 10px;
         width: 80%;
      }
  
      .rectangle-content {
        padding: 20px;
      }
  
      .circle {
        position: absolute;
        width: 180px;
        height: 180px;
        background-color: gainsboro;
        background-image: url(images/profile.png);
        background-position: center;
        background-size: contain;
        border-radius: 50%;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
      }
      @media screen and (max-width: 850px){
        .circle{
          width: 130px;
          height: 130px;
        }
      }
    </style>
</head><body>
    
<!-- whattapp -->
<button style="position: fixed; bottom: 1rem; right: 1rem; border-radius: 10px; padding: 5px 6px 5px 8px; z-index: 1000; background-color: #ececec;">
  <a href="https://wa.link/4lrisd"><i class="fa-brands fa-whatsapp" style="font-size: 2.5rem; color: #00a97f;"></i></a>
</button>

<!-- navbar -->
<%- include('./includes/nav.ejs'); %>

<!-- heading -->
<div>
  <div class="container-fluid" style=" background-color: #00cba9;">
      <br>
      <p class="display-2 container pb-0 mb-0" style="font-family: 'Oswald', sans-serif; text-align:center">
        About Us
      </p>
  </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#00cba9" fill-opacity="1" d="M0,96L48,112C96,128,192,160,288,154.7C384,149,480,107,576,106.7C672,107,768,149,864,181.3C960,213,1056,235,1152,229.3C1248,224,1344,192,1392,176L1440,160L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
    </svg>
    <img src="images/service.png" id="bulb" class="d-none d-md-block" style="width: 18%;" alt="About HSJN FinWisdom" >
</div>

<div class="container">
      <p class="para">Welcome to HSJN FinWisdom, where the intricate world of financial markets meets the art of trading. We are a dynamic and innovative force in the trading education landscape, dedicated to empowering individuals with the knowledge and skills needed to navigate stocks, commodities, forex, and crypto markets successfully.
      </p>
</div>

<div class="container">
<h2 style="text-align: left; color: #000000a6">Our Mission</h2>
      <p class="para">At HSJN FinWisdom, our mission is clear — to democratize financial knowledge and provide a platform where aspiring traders can gain expertise, confidence, and financial wisdom. We believe in fostering a community where each member is equipped to make informed decisions and chart their path to financial success.
      </p>
</div>

<br>

<div class="container" data-aos="slide-up">
<h2 style="text-align: left; color: #000000a6">What Sets Us Apart ?</h2>
  <tbody class="para">
      <p class="para">
      <strong><big>• No-nonsense Disclaimer:</big></strong><br> We believe in transparency. HSJN FinWisdom does not provide advisory or buy/sell recommendations as we are not SEBI registered research analysts. Your journey, your decisions.
<br>
      <strong><big>• Expertise in Technical Analysis:</big> </strong><br> Our foundation rests on the principles of technical analysis, providing a comprehensive understanding of market trends, patterns, and indicators. We equip our community with the tools needed to decipher the complexities of financial markets.
<br>
      <strong><big>• Authorized Partner of ICICI Securities:</big> </strong><br>As a registered authorized person of ICICI Securities, we bring you a seamless experience in demat account services, ensuring your access to a secure and reliable platform for your investment needs.
<br>
      <strong><big>• Exclusive Trading Merchandise:</big> </strong><br> Express your passion for trading with our exclusive merchandise. From customized T-shirts and hoodies to caps and mugs, we bring you gear that resonates with the spirit of the trading community.
<br>
      </p>
  </tbody>
</div><br>

<!-- About Founder -->
<hr>
<h2 style="text-align: center;">Our Founder</h2><br>
<br>


<br><br>
<div class="contain mx-auto" data-aos="zoom-in">
  <div class="rectangle-content">
    <p class="para">
      <br><br>
      <br>
      <span style="font-size: 2rem; color: #00cba9;">
      <div style="text-align: center; font-size: 1.2rem; color: #00ad90; font-weight: 500">Himanshu Ghangas</div>
      <div style="text-align: center;  font-size: 1.2rem; font-weight: 300" id="founder">(Founder & CEO)</div>      
      <br>
        <p class="para">
          </span>Meet the visionary behind HSJN FinWisdom, Mr. Himanshu Ghangas. His passion for financial education and unwavering commitment to empowering individuals have been instrumental in shaping our journey. With a wealth of experience in technical analysis and a keen understanding of market dynamics, Himanshu is dedicated to creating a platform where traders can thrive and achieve their financial goals.
        </p>
    </p>
  </div>
  <div class="circle"></div>
</div>
<br><br><br>

<h2 style="text-align: center;">Testimonials</h2><br>



<!-- slideshow -->
<div id="carouselExampleCaptions" class="carousel slide col-lg-8 mx-auto" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="slideshow" src="slides/ShrutiKhatri.png" alt="Shruti Khatri">
    </div>
    <div class="carousel-item">
      <img class="slideshow" src="slides/AkshayMalik.png" alt="Akshay Malik">
    </div>
    <div class="carousel-item">
      <img class="slideshow" src="slides/ShashwatSharma.png" alt="Shashwat Sharma">
    </div>
    <div class="carousel-item">
      <img class="slideshow" src="slides/ShubhamVerma.png" alt="Shubham Verma">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<br> 

<div class="container"><br>
  <span class="para"><strong style="font-weight: 500;"><big>
    <p style="text-align: center;"><u>Ready to Chart Your Success? Explore Now:</u></p>
  </big></strong></span>
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <ul>
        <li class="para"><span style="color: #00ad90;">•</span>
          Dive into our expert-led technical analysis courses.
        </li>
        <br>
        <li class="para"><span style="color: #00ad90;">•</span>
          Secure your financial future with hassle-free demat account services.
        </li>
      </ul>
    </div>
    <div class="col-lg-6">
      <ul>
        <li class="para"><span style="color: #00ad90;">•</span>
          Access LAS solutions tailored to your needs.
        </li>
        <br>
        <li class="para"><span style="color: #00ad90;">•</span>
          Explore our exclusive merchandise store and gear up for success.
        </li>
      </ul>
    </div>
  </div>
</div>

<br> 

<p class="para"><strong style="font-weight: 500;"><big>Join the FinWisdom Community:</big></strong> Become a part of a thriving community of traders on a shared mission for success. Connect with like-minded individuals, stay updated with market trends, and elevate your trading game.</p>
</div>

<!-- loop -->

<br>
<h2 style="text-align: center;">Social Media Presence</h2><br>

<div class="container">
  <div class="row">

    <!-- Card A -->
        <div class="col-md-4">
      <a href="https://g.page/r/CVrRcyU52fXcEAI/review" style="color: black;" target="_blank">
        <div class="card mb-3">
          <div class="card-body" style="text-align: center;">
            <p class="card-text"><span class="num">4.5+</span></p>
            <p class="card-text num-icon">
              <i class="fa-brands fa-google"></i>
              Rating
            </p>
          </div>
        </div>
      </a>
    </div>

    <!-- Card B -->
<div class="col-md-4">
      <a href="hhttps://www.youtube.com/@HSJNFinWisdom" style="color: black;" target="_blank">
        <div class="card mb-3" >
          <div class="card-body" style="text-align: center;">
            <p class="card-text"><span class="stat-number num" data-n="1500">1500</span></p>
            <p class="card-text num-icon">
              <i class="fa-brands fa-youtube"></i>
              Subscribers
            </p>
          </div> 
        </div>
      </a>
    </div>  

    <!-- Card C -->
    <div class="col-md-4">
      <a href="https://www.instagram.com/HSJNFinWisdom" style="color: black;" target="_blank">
        <div class="card mb-3">
          <div class="card-body" style="text-align: center;">
            <p class="card-text"><span class="stat-number num" data-n="1000">1000</span></p>
            <p class="card-text num-icon">
              <i class="fa-brands fa-instagram"></i>
              Followers
            </p>
          </div>
        </div>
      </a>
    </div>
    <!-- Card D -->
    <div class="col-md-4">
      <a href="https://twitter.com/HSJNFinWisdom" style="color: black;" target="_blank">
        <div class="card mb-3">
          <div class="card-body" style="text-align: center;">
            <p class="card-text"><span class="stat-number num" data-n="50">50+</span></p>
            <p class="card-text num-icon">
              <i class="fa-brands fa-square-x-twitter"></i>
              Followers
            </p>
          </div> 
        </div>
      </a>
    </div>  
    <!-- Card E -->
    <div class="col-md-4">
      <a href="https://www.facebook.com/HSJNFinWisdom" style="color: black;" target="_blank">
        <div class="card mb-3">
          <div class="card-body" style="text-align: center;">
            <p class="card-text"><span class="stat-number num" data-n="1000">1000</span></span></p>
            <p class="card-text num-icon">
              <i class="fa-brands fa-facebook"></i>
              Followers
            </p>
          </div> 
        </div>
      </a>
    </div>  
    <!-- Card F -->
    <div class="col-md-4">
      <a href="https://t.me/HSJNFinWisdom" style="color: black;" target="_blank">
        <div class="card mb-3">
          <div class="card-body" style="text-align: center;">
            <p class="card-text"><span class="stat-number num" data-n="1000">1000</span></span></p>
            <p class="card-text num-icon">
              <i class="fa-brands fa-telegram"></i>
              Members
            </p>
          </div> 
        </div>
      </a>
    </div>  
  </div>
</div>

<!-- loop script -->

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
  $(function () {
    var fx = function fx() {
        $(".stat-number").each(function (i, el) {
            var data = parseFloat($(el).data("n")); // Read the initial value from the HTML
            var initialCount = 0; // Set initial count for all elements

            var props = {
                "from": {
                    "count": initialCount
                },
                "to": {
                    "count": data
                }
            };

            $(props.from).animate(props.to, {
                duration: 1000 * 2, // Change this value to control the speed (2 seconds in this example)
                step: function (now, fx) {
                    // Use Indian numbering system (thousands separator) for formatting
                    $(el).text(Math.ceil(now).toLocaleString('en-IN') + "+");
                },
                complete: function () {
                    if (el.dataset.sym !== undefined) {
                        el.textContent = el.textContent.concat(el.dataset.sym);
                    }
                }
            });
        });
    };

    var reset = function reset() {
        if ($(window).scrollTop() > 90) {
            $(window).off("scroll", reset);
            fx();
        }
    };

    $(window).on("scroll", reset);
});

</script>


<!-- review -->
<br>
<div class="container">
<div class='sk-ww-google-reviews' data-embed-id='237785'></div><script src='https://widgets.sociablekit.com/google-reviews/widget.js' async defer></script>
<div style="display: flex; align-items: center; justify-content: center">
  <a href="https://g.page/r/CVrRcyU52fXcEAI/review" target="_blank">
    <button type="button" class="review btn btn-primary" style="margin: auto; font-weight: 500">Leave a Review</button>
  </a>
  <br><br><br><br>
  </div>
</div>
<br>


<!-- form -->
<div style="background-color: rgb(242, 242, 242);">
  <div class="fs-2 py-4" style="text-align: center;">Get in Touch</div>

   <form class="container col-lg-7" id="contactForm">
    <div class="row mb-3">
        <div class="col">
            <div data-mdb-input-init class="form-outline">
                <input type="text" class="form-control" placeholder="Full Name*" id="name" required>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <div data-mdb-input-init class="form-outline">
                <input type="tel" class="form-control" placeholder="Phone Number*" id="phone" required>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <div class="form-outline">
                <select class="form-select" id="subject" required>
                    <option value="" disabled selected>Select Subject*</option>
                    <option value="DematAccount">Demat Account</option>
                    <option value="AdvisoryServices">Advisory Services</option>
                    <option value="TechnicalAnalysisCourse">Technical Analysis Course</option>
                    <option value="Other">Other</option>
                </select>
            </div>
        </div>
    </div>

    <div class="form-group">
        <textarea class="form-control" rows="5" placeholder="Your Message*" id="message" required></textarea>
    </div>
    <br>
    <div style="text-align: center;">
        <button style="background-color: #00cba9;" data-mdb-ripple-init type="button" class="btn btn-primary btn-block mb-3 mx-auto btn-lg" onclick="submitForm()">
            Submit
        </button>
        <br>
    </div>
</form>


<!-- footer -->
<%- include('./includes/footer.ejs'); %>


<!-- scroll animation -->
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({
      once: true,
    });
  </script>

<script>
    function submitForm() {
        // Get form data
        var name = document.getElementById('name').value;
        var phone = document.getElementById('phone').value;
        var subjectDropdown = document.getElementById('subject');
        var subject = subjectDropdown.options[subjectDropdown.selectedIndex].text;
        var message = document.getElementById('message').value;

        // Check if all fields are filled
        if (!name || !phone || subject === "Select Subject*" || !message) {
            alert('Please fill all the fields');
            return;
        }

        // Create email template
        var emailBody = "While navigating through your website, I made the decision to fill out the inquiry form as part of my engagement with your online platform.\n\n";
        emailBody += "Full Name: " + name + "\n";
        emailBody += "Phone Number: " + phone + "\n";
        emailBody += "Subject: " + subject + "\n";
        emailBody += "Message: " + message + "\n\n";
        emailBody += "I'm interested in your services and am eager to connect soon. Thank you!";

        // Create mailto link
        var mailtoLink = "mailto:contact@hsjnfinwisdom.com?subject=" + encodeURIComponent(subject) + "&body=" + encodeURIComponent(emailBody);

        // Open default email client
        window.location.href = mailtoLink;
    }
</script>

  <script src="js/script.js"></script>
<!-- bootstrap js  -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

</body></html>