<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Explore rewarding career opportunities, contribute to our vision, and grow with a dynamic team passionate about shaping the future of trading.">
    <title>Careers - HSJN FinWisdom</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head><body>

<style>
  html,body{
    overflow-x: hidden !important;
  }
  b{
    font-weight: 600;
  }
</style>
    
<!-- whattapp -->
<button style="position: fixed; bottom: 1rem; right: 1rem; border-radius: 10px; padding: 5px 6px 5px 8px; z-index: 1000; background-color: #ececec;">
  <a href="https://wa.link/4lrisd"><i class="fa-brands fa-whatsapp" style="font-size: 2.5rem; color: #00a97f;"></i></a>
</button>

<!-- navbar -->
<%- include('./includes/nav.ejs'); %>

<!-- heading -->
<div>
    <div class="container-fluid" style=" background-color: #00cba9; height: 120px">
        <br>
        <h1><p class="display-2 container pb-0 mb-0" style="font-family: 'Oswald', sans-serif; text-align:center">
            Let's Work Together
        </p></h1>
    </div>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#00cba9" fill-opacity="1" d="M0,96L48,112C96,128,192,160,288,154.7C384,149,480,107,576,106.7C672,107,768,149,864,181.3C960,213,1056,235,1152,229.3C1248,224,1344,192,1392,176L1440,160L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
      </svg>
      <img src="/images/hand.png" id="bulb" class="d-none d-md-block" style="width: 25%; top: 25%; right: 6%;" alt="career opportunity for traders" >
</div>

<div class="container" >
    <p class="para" >
      <span style="color: #00987e; font-size: 2rem">W</span>elcome to the <span style="color: #00987e;"><i>HSJN FinWisdom</i></span> career page, where opportunities for growth and innovation intersect. We are on a mission to empower individuals in the financial world, and we believe that our team is the driving force behind our success.
    </p>
</div>

<div class="container" data-aos="zoom-in-down">
    <br>
    <p class="para">
        <div  class="fs-3 pb-2" style="font-weight: 500; color: #000000a2">Why Join HSJN FinWisdom?</div>
        <p class="para">
          At HSJN FinWisdom, we foster a dynamic and collaborative work environment where every team member plays a crucial role in shaping the future of financial education. Here are some compelling reasons to consider a career with us:
        </p>
        <ul class="para" style="list-style-type: square; text-align: justify;">
            <li><b>Innovation and Learning:</b> We thrive on innovation and are committed to staying ahead in the ever-evolving financial landscape. Join us to be part of a learning culture that encourages continuous growth and development.</li>
            <li><b>Impactful Work:</b> Contribute to something meaningful by being part of a company that empowers individuals to navigate the complexities of stocks, crypto, and forex markets. Your work will have a direct impact on shaping the financial success of our community.</li>
            <li><b>Collaborative Team:</b> We believe in the power of collaboration. Work alongside talented and passionate individuals who share a common goal of making financial wisdom accessible to all.</li>
            <li><b>Diverse Opportunities:</b> Whether you're interested in finance, technology, marketing, or customer service, we offer diverse opportunities for career growth. Explore your passions and carve out your unique path within HSJN FinWisdom.</li>
        </ul>
    </p>
    <p class="para">
      Participate in our online internship program, where we engage with our students virtually. This initiative has proven to be successful, allowing more individuals to collaborate with us remotely.
    </p><br>
</div>

<div id="interns"></div>


<div class="container">
    <br>
    <p class="para">

        <div data-aos="fade-left">
        <div  class="fs-3 pb-2" style="font-weight: 500; color: #000000a2">Current Openings:</div>
<b><big style="color: #000000a2">1. Social Media Manager</big></b>
        <ul class="para" style="list-style-type: square; text-align: left;">
            <li><b>Role:</b> Full-time social media marketing of our company, focusing on lead generation through social media channels.</li>
            <li><b>Requirements:</b></li>
                <ul class="para" style="list-style-type: circle; text-align: left;">
                <li>Proven experience in social media marketing.</li>
                <li>Strong understanding of lead generation strategies.</li>
                <li>Creative mindset with excellent communication skills.</li>
                </ul>
        </ul>
        </div>

        <div data-aos="fade-right">
<b><big style="color: #000000a2">2. Sales Executive</big></b>
        <ul class="para" style="list-style-type: square; text-align: left;">
            <li><b>Role:</b> Door-to-door marketing and sales.</li>
            <li><b>Preferred Candidate Location:</b> Sonipat, Haryana.</li>
            <li><b>Requirements:</b></li>
                <ul class="para" style="list-style-type: circle; text-align: left;">
                <li>Previous experience in sales.</li>
                <li>Ability to effectively communicate and build relationships.</li>
                <li>Self-motivated with a passion for achieving sales targets.</li>
                </ul>
        </ul>
        </div>

        <div data-aos="fade-left">
<b><big style="color: #000000a2">3. Executive Assistant</big></b>
            <ul class="para" style="list-style-type: square; text-align: left;">
            <li><b>Role:</b> Calling, day-to-day office paperwork.</li>
            <li><b>Preferred Candidate:</b> Female.</li>
            <li><b>Requirements:</b></li>
                <ul class="para" style="list-style-type: circle; text-align: left;">
                <li>Excellent organizational and communication skills.</li>
                <li>Previous experience in administrative roles.</li>
                <li>Ability to handle day-to-day office tasks efficiently.</li>
            </ul>
        </ul>
    </p>
    </div>

</div>

<div class="container py-3">
  <hr>
</div>

<div class="container" data-aos="">
    <p class="para">
        <div  class="fs-3 pb-2" style="font-weight: 500; color: #000000a2">Internship Opportunity</div>
        <p class="para" style="text-align: justify;">
          For share market enthusiasts, we have our internship program available to get them noticed and improve their skills.
          <br>
          You can join our technical analysis courses and start your internship with us on completion. Else if you are an experienced analyst, then you can apply for the internship directly.
        </p>
    </p>
</div>

<div class="container" data-aos="zoom-in">
  <p class="para">
      <div  class="fs-3 pb-2" style="font-weight: 500; color: #000000a2">How to Apply:</div>
      <p class="para" style="text-align: left;">
        If you're ready to embark on an exciting journey with HSJN FinWisdom, explore our current job openings and submit your application at <a href="mailto:careers@hsjnfinwisdom.com">careers@hsjnfinwisdom.com</a> We're always on the lookout for passionate and talented individuals who share our vision.
<br>
<br>
Join us at HSJN FinWisdom and be part of a team that's shaping the future of financial wisdom!
  </p>
  <br>
</div>


<!-- footer -->
<%- include('./includes/footer.ejs'); %>


<!-- scroll animation -->
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({
      once: true,
      duration: 500
    });
  </script>

  <script src="js/script.js"></script>
<!-- bootstrap js  -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body></html>