<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Open your demat account with ICICI Direct. HSJN FinWisdom is Authorised Person of ICICI Securities Limited.">
    <title>Demat Account - HSJN FinWisdom</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <style>

    </style>
</head>

<body>
    
<!-- whattapp -->
<button style="position: fixed; bottom: 1rem; right: 1rem; border-radius: 10px; padding: 5px 6px 5px 8px; z-index: 1000; background-color: #ececec;">
  <a href="https://wa.link/4lrisd"><i class="fa-brands fa-whatsapp" style="font-size: 2.5rem; color: #00a97f;"></i></a>
</button>

<!-- navbar -->
<%- include('./includes/nav.ejs'); %>

    <!-- Heading -->
    <div>
        <div class="container-fluid" style="background-color: #00cba9;">
            <br>
            <p class="display-2 container pb-0 mb-0" style="font-family: 'Oswald', sans-serif; text-align:center">
                Demat Account
            </p>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#00cba9" fill-opacity="1"
                d="M0,96L48,112C96,128,192,160,288,154.7C384,149,480,107,576,106.7C672,107,768,149,864,181.3C960,213,1056,235,1152,229.3C1248,224,1344,192,1392,176L1440,160L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z">
            </path>
        </svg>
        <img src="images/ICICI.png" id="bulb" class="d-none d-md-block" style="width: 18%;"
            alt="Demat account with HSJN FinWisdom">
    </div>


    <!-- Introduction -->
    <div class="container">
        <h1 style="color: #000000a6; text-align: center"> Authorised Person - ICICI Securities Limited</h1>
        <p class="para" data-aos="fade-up">
            As a registered authorized person of ICICI Securities, we bring you a seamless experience in demat account services. ICICI Securities provides a secure and reliable platform for your investment needs. This means you gain access to the advanced trading platforms of ICICI Securities, ensuring you stay at the forefront of market opportunities. Should you ever encounter any challenges, rest assured that HSJN FinWisdom is at your service, ready to assist and enhance your trading journey.
        </p>
    </div>

    <br>

    <!-- Sign Up Buttom  -->
    <p style="text-align: center;">
      <a href="https://secure.icicidirect.com/accountopening?rmcode=HGTIN090" target="_blank">
        <button class="tweet" style="padding: 5px 15px;"><big>Sign Up!</big></button>
      </a>
    </p>
    <hr style="transform: translateY(-30px); z-index: -100; position: relative;">
    
<br>
<br>

<!-- ribbon -->
<style>
  .h1 {
  color: white;
  position: relative;
  margin: 0 auto 20px;
  padding: 10px 40px;
  text-align: center;
  background-color: steelblue;
  font-size: 2rem;
}

.h1::before, .h1::after {
  content: '';
  width: 80px;
  height: 100%;
  background-color: rgb(54, 101, 138);

  /* position ribbon ends behind and slightly lower */
  position: absolute;
  z-index: -1;
  top: 20px;
  
  /* clip ribbon end shape */
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 25% 50%);

  /* draw and position the folded ribbon bit */
  background-image: linear-gradient(45deg, transparent 50%, #285b85 50%);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: bottom right;
}

.h1::before {
  left: -60px;
}

.h1::after {
  right: -60px;
  transform: scaleX(-1); /* flip horizontally */
}
@media screen and (min-width: 766px) {
  .h1{width: 85%;}
}
</style>

<div style="margin: 0 4.5rem;" >
<h1 class="h1 ">Benefits of ICICI Direct</h1><br>
</div>

    <!-- Why Choose ICICI Securities Limited for Demat -->
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <table class="table" style="border: 2px solid #0000003e;" data-aos="zoom-in">
                    <tbody class="para">
                        <tr>
                            <td>
                                <b><span style="color: #00b092;">⦿ </span><big>Super Rich Platforms for Mobile App & Website</big></b><br>
                                <ul class="para pt-2" style="text-align: left;">
                                    <li><span style="color: #00a97f;">✓</span> All-in-1 experience - Stocks, F&O, MFs, IPOs, etc</li>
                                    <li><span style="color: #00a97f;">✓</span> Smart tools that makes trading and investing easy</li>
                                    <li><span style="color: #00a97f;">✓</span> Integrated watchlist with high flexibility and control</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b><span style="color: #00b092;">⦿ </span><big>Execution Algos</big></b><br>
                                <ul class="para pt-2" style="text-align: left;">
                                    <li><span style="color: #00a97f;">✓</span> Slice your large orders to overcome Freeze Quantity Limits</li>
                                    <li><span style="color: #00a97f;">✓</span> Automated checks on multiple market conditions</li>
                                    <li><span style="color: #00a97f;">✓</span> Balances market impact with risks of executing large orders in one go</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b><span style="color: #00b092;">⦿ </span><big>Free APIs with historical derivatives data</big></b><br>
                                <ul class="para pt-2" style="text-align: left;">
                                    <li><span style="color: #00a97f;">✓</span> Free historical data</li>
                                    <li><span style="color: #00a97f;">✓</span> Live streaming OHLC and Options Chain API's</li>
                                    <li><span style="color: #00a97f;">✓</span> Triple secure data</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b><span style="color: #00b092;">⦿ </span><big>0% interest on shares as collateral</big></b><br>
                                <ul class="para pt-2" style="text-align: left;">
                                    <li><span style="color: #00a97f;">✓</span> Trade in derivatives with 100 % SAM for intraday & carry positions</li>
                                    <li><span style="color: #00a97f;">✓</span> Create limit by pledging your Shares As Margin (SAM) and experience cashless trading.</li>
                                    <li><span style="color: #00a97f;">✓</span> No interest for SAM with Prime Plans</li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>                         
            <div class="col-lg-6">
                <table class="table" style="border: 2px solid #0000003e;" data-aos="zoom-in">
                    <tbody class="para">
                        <tr>
                            <td>
                                <b><span style="color: #00b092;">⦿ </span><big>Research Ideas</big></b><br>
                                <ul class="para pt-2" style="text-align: left;">
                                    <li><span style="color: #00a97f;">✓</span> Trading Ideas: Intraday and short term recommendations</li>
                                    <li><span style="color: #00a97f;">✓</span> Investing Ideas: Stock recommendations for mid to long term</li>
                                    <li><span style="color: #00a97f;">✓</span> One click portfolio: Theme based value basket of stocks</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b><span style="color: #00b092;">⦿ </span><big>Flash Trade</big></b><br>
                                <ul class="para pt-2" style="text-align: left;">
                                    <li><span style="color: #00a97f;">✓</span> Trade F&O, track positions and exit from a single screen</li>
                                    <li><span style="color: #00a97f;">✓</span> Intra-minute buying at ultra-fast speed with just your market view</li>
                                    <li><span style="color: #00a97f;">✓</span> Compound your position with the trend!</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b><span style="color: #00b092;">⦿ </span><big>e-ATM</big></b><br>
                                <ul class="para pt-2" style="text-align: left;">
                                    <li><span style="color: #00a97f;">✓</span> With other platforms, after selling your shares you have to wait till settlement (usually 2 days) to receive your funds.</li>                                    </li>
                                    <li><span style="color: #00a97f;">✓</span> With eATM get instant payout after selling your shares.</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b><span style="color: #00b092;">⦿ </span><big>Buy Now Pay Later (MTF)</big></b><br>
                                <ul class="para pt-2" style="text-align: left;">
                                    <li><span style="color: #00a97f;">✓</span> Enhance your stock buying power up to 4 times with MTF.</li>
                                    <li><span style="color: #00a97f;">✓</span> Only pay a small amount while buying stocks and we will fund the balance amount.</li>
                                    <li><span style="color: #00a97f;">✓</span> Hold your positions for upto 365 days (interest = 9.65% p.a. ) </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>                        
        </div>
    </div>

    <br>

    <!-- Why choose ICICI for demat account -->
    <div class="container pb-1">
        <h3 style="text-align: left; color: #000000a6">Why ICICI Direct?</h3>
        <p class="para">
            ICICI Direct stands as one of India's largest retail brokers and distributors of financial products, earning the trust of approximately 80 lakh customers over its two-decade-long service history. Recognized for its commitment, ICICI Direct has transformed the landscape of online investing. This platform provides a seamless and trouble-free electronic trading experience through a trading account. Offering a comprehensive range of more than 50 products and services, including Equity, Mutual Funds, Derivatives, Futures and Options, Currency, Commodity, ETF, Insurance, IPOs, Corporate Fixed Deposits, Loans, NPS, Wealth Management, Corporate Services, NRI Services, Portfolio Management Services, Global Investment, Financial Learning, Tax Services, and more, ICICI Direct aims to assist you in realizing your financial objectives, all conveniently accessible under one roof.
        </p>
    </div>

    <!-- Note -->
    <hr>
    <div class="container">
        <p align="justify" style="font-size: small;">
            <em>
                <b>*Note:</b> The information provided on this page is sourced from 
                <a href="https://www.icicidirect.com" target="_blank">https://www.icicidirect.com</a> 
                and we do not claim ownership of this content nor do we guarantee its accuracy. 
                The details mentioned here are based on the information available on ICICI Direct's public website and may be subject to change. 
                For the most up-to-date and comprehensive information, 
                please visit 
                <a href="https://www.icicidirect.com" target="_blank">https://www.icicidirect.com</a>.
            </em>
        </p>


    </div>

<!-- footer -->
<%- include('./includes/footer.ejs'); %>

<!-- end -->

<!-- scroll animation -->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init({
    once: true
  });
</script>

<canvas id="confetti" style="display: none;"></canvas>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/js-confetti@latest/dist/js-confetti.browser.js"></script>
<script src="js/SERVICES.js"></script>
</body></html>