<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Unlock knowledge with HSJN FinWisdom's Free Resources. Dive into expert insights, e-books, and tools for empowered trading. Start learning today!">
    <title>E Books - HSJN FinWisdom</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <style>
    .num{
      font-size: 2rem;
      font-weight: 500;
    }
    .num-icon{
      font-size: 2rem;
      color: navy;
    }
    h3{
      color: #000000a6;
    }
    </style>
</head><body>

<!-- whattapp -->
<button style="position: fixed; bottom: 1rem; right: 1rem; border-radius: 10px; padding: 5px 6px 5px 8px; z-index: 1000; background-color: #ececec;">
  <a href="https://wa.link/4lrisd"><i class="fa-brands fa-whatsapp" style="font-size: 2.5rem; color: #00a97f;"></i></a>
</button>

<!-- navbar -->
<%- include('./includes/nav.ejs'); %>

<!-- heading -->
<div>
  <div class="container-fluid" style=" background-color: #00cba9;">
      <br>
      <p class="display-2 container pb-0 mb-0" style="font-family: 'Oswald', sans-serif; text-align:center">
        Free E-Books
      </p>
  </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#00cba9" fill-opacity="1" d="M0,96L48,112C96,128,192,160,288,154.7C384,149,480,107,576,106.7C672,107,768,149,864,181.3C960,213,1056,235,1152,229.3C1248,224,1344,192,1392,176L1440,160L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
    </svg>
    <img src="images/text.png" id="bulb" class="d-none d-md-block" style="width: 18%;" alt="free resources for traders">
</div>

<div class="container">
      <p class="para">Welcome to the HSJN FinWisdom Free Resources Hub! Empower your trading journey with our curated collection of valuable insights, educational content, and downloadable resources.
      </p>
</div>

<div data-aos="fade-left">
<div class="container">
<h3 style="text-align: left;">1. E-books: Unlock the Power of Knowledge</h3>
</div>
<div class="container">
      <p class="para">Unlock the secrets of successful trading with our curated collection of e-books authored by industry luminaries. From proven strategies to market analysis, these e-books are invaluable resources for traders. Access is granted exclusively to registered members.
      </p>
      <p style="text-align: left;">
        <a href="/pdf">
          <button class="tweet" style="padding: 5px 15px;">Sign Up for FREE to access E-Books</button>

        </a>
</div>
</div><br>

    <!-- Add the Firebase scripts -->
    <!-- <script type="module">
      import { initializeApp } from "https://www.gstatic.com/firebasejs/10.7.1/firebase-app.js";
      import { getAuth, onAuthStateChanged } from "https://www.gstatic.com/firebasejs/10.7.1/firebase-auth.js";
  
      const firebaseConfig = {
        apiKey: "AIzaSyCFYXehELutvNeRJWY5e6FOWFGBAM0eCzw",
        authDomain: "vaibhav-c0c9f.firebaseapp.com",
        projectId: "vaibhav-c0c9f",
        storageBucket: "vaibhav-c0c9f.appspot.com",
        messagingSenderId: "635216546328",
        appId: "1:635216546328:web:963e2a70ae4b112139d16d",
        measurementId: "G-MGF28YQQG1"
      };
  
      const app = initializeApp(firebaseConfig);
      const auth = getAuth(app);
  
    </script> -->

  <!--Firebase UI library -->
  <!-- <script type="module">
    import { getAuth, GoogleAuthProvider, signInWithPopup } from "https://www.gstatic.com/firebasejs/10.7.1/firebase-auth.js";

    const authSecondScript = getAuth(); // Use a different variable name

    const googleSignInBtn = document.getElementById('googleSignInBtn');

    googleSignInBtn.addEventListener('click', () => {
      const provider = new GoogleAuthProvider();
      signInWithPopup(authSecondScript, provider)
        .then((result) => {
          // Redirect to the logged.html page upon successful sign-in
          window.location.href = "PDF.html";
        })
        .catch((error) => {
          console.error(error.message);
        });
    });
  </script> -->

<div data-aos="fade-up">
<div class="container">
<h3 style="text-align: left;">2. Educational Content: Learn, Engage, Succeed</h3>
</div>
<div class="container">
      <p class="para">Delve into the world of trading education through our dynamic YouTube channel. Subscribe now to access a treasure trove of video tutorials, market insights, and educational content. Stay informed and enhance your trading skills with content curated just for you.
      </p>

  <a href="https://www.youtube.com/@HSJNFinWisdom" target="_blank">
    <button class="tweet" style="padding: 5px 15px;">Subscribe to our YouTube channel</button>
  </a>      
</div>
</div>

<br><br>
<div data-aos="fade-right">
<div class="container">
<h3 style="text-align: left;">3. Blog: Stay Ahead of the Curve</h3>
</div>
<div class="container">
      <p class="para">Stay informed with our regularly updated blog. Our experts share valuable perspectives, trading tips, and the latest market trends. Dive into insightful articles that provide actionable insights, ensuring you're always one step ahead in the fast-paced world of trading.
      </p>

        <a href="/blogs" target="_blank">
    <button class="tweet" style="padding: 5px 15px;">Read our Blogs</button>
  </a>      
</div>
</div>
<br><hr>

<div class="container">
<h3 style="text-align: center;">Start Your Learning Journey Today!</h3>
</div>
<div class="container">
      <p class="para" style="text-align: center;"><big>Knowledge is the cornerstone of successful trading. Explore our Free Resources to elevate your expertise and join a community of informed traders.
      </big></p>
</div><br>

<h3 style="text-align: center;" class="pb-4">Ready to Begin?</h3>
  
  <div class="ribbon mx-auto" data-aos="zoom-in">
    <a href="#googleSignInBtn" style="color: white; padding: 10px">Download E-books</a>
    <br>
    <a href="https://www.youtube.com/@HSJNFinWisdom" style="color: white;" target="_blank">Access Educational Video</a>
    <br>
    <a href="blogs.html" style="color: white;" target="_blank">Read Our Blogs</a>
  </div>

<style>

.ribbon {
  font-size: 28px;
  color: #fff;
}
.ribbon {
  --r: .5em;  /* control the cutout of the ribbon */
  --a: 20deg; /* control the angle of the folded part */
  --s: 6em;   /* control the width of the folded part  */
  --c: #2699dc;
  
  padding-inline: calc(1lh*tan(var(--a)/2) + .3em);
  margin-block: calc(var(--s)*sin(var(--a)) - .15lh);
  text-align: center;
  line-height: 2;
  background-image: 
    linear-gradient(var(--c) 70%,#0000 0), 
    linear-gradient(to bottom left,#0000 50%, color-mix(in srgb,var(--c),#000 40%) 51% 84%,#0000 85%);
  background-position: 0 .15lh;
  background-size: 100% 1lh;
  position: relative;
  clip-path: polygon(
    0 .15lh,
    calc(100% - .7lh/sin(var(--a))) .15lh,
    calc(100% - .7lh/sin(var(--a)) - 999px) calc(.15lh - 999px*tan(var(--a))),
    100% -999px,
    100% .15lh,
    calc(100% - .7lh*tan(var(--a)/2)) .85lh,
    100% 1lh,
    100% calc(100% - .15lh),
    calc(.7lh/sin(var(--a))) calc(100% - .15lh),
    calc(.7lh/sin(var(--a)) + 999px) calc(100% - .15lh + 999px*tan(var(--a))),
    0 999px,
    0 calc(100% - .15lh),
    calc(.7lh*tan(var(--a)/2)) calc(100% - .85lh),
    0 calc(100% - 1lh)
   );
  width: fit-content;
}
.ribbon:before,
.ribbon:after {
  content:"";
  position: absolute;
  height: .7lh;
  width: var(--s);
  background: color-mix(in srgb,var(--c),#000 40%);
  rotate: var(--a);
}
.ribbon:before {
  top: .15lh;
  right: 0;
  transform-origin: top right;
  clip-path: polygon(0 0,100% 0,calc(100% - .7lh/tan(var(--a))) 100%,0 100%, var(--r) 50%);
}
.ribbon:after {
  bottom: .15lh;
  left: 0;
  transform-origin: bottom left;
  clip-path: polygon(calc(.7lh/tan(var(--a))) 0,100% 0,calc(100% - var(--r)) 50%,100% 100%,0 100%);
}
</style>

<br><br>
<div class="container">
      <p class="para" style="text-align: center;">
        <u><big>Begin your journey to financial wisdom with HSJN FinWisdom's Free Resources Hub!</big></u>
      </p>
<p class="para"><strong><big>Join the FinWisdom Community:</big></strong> Become a part of a thriving community of traders on a shared mission for success. Connect with like-minded individuals, stay updated with market trends, and elevate your trading game.</p>
</div>

<!-- loop -->

<br><br>

<div class="container">
  <div class="row">

    <!-- Card A -->
        <div class="col-md-4">
      <a href="https://g.page/r/CVrRcyU52fXcEAI/review" style="color: black;" target="_blank">
        <div class="card mb-3">
          <div class="card-body" style="text-align: center;">
            <p class="card-text"><span class="num">4.5+</span></p>
            <p class="card-text num-icon">
              <i class="fa-brands fa-google"></i>
              Rating
            </p>
          </div>
        </div>
      </a>
    </div>

    <!-- Card B -->
<div class="col-md-4">
      <a href="hhttps://www.youtube.com/@HSJNFinWisdom" style="color: black;" target="_blank">
        <div class="card mb-3" >
          <div class="card-body" style="text-align: center;">
            <p class="card-text"><span class="stat-number num" data-n="1500">1500</span></p>
            <p class="card-text num-icon">
              <i class="fa-brands fa-youtube"></i>
              Subscribers
            </p>
          </div> 
        </div>
      </a>
    </div>  

    <!-- Card C -->
    <div class="col-md-4">
      <a href="https://www.instagram.com/HSJNFinWisdom" style="color: black;" target="_blank">
        <div class="card mb-3">
          <div class="card-body" style="text-align: center;">
            <p class="card-text"><span class="stat-number num" data-n="1000">1000</span></p>
            <p class="card-text num-icon">
              <i class="fa-brands fa-instagram"></i>
              Followers
            </p>
          </div>
        </div>
      </a>
    </div>
    <!-- Card D -->
    <div class="col-md-4">
      <a href="https://twitter.com/HSJNFinWisdom" style="color: black;" target="_blank">
        <div class="card mb-3">
          <div class="card-body" style="text-align: center;">
            <p class="card-text"><span class="stat-number num" data-n="50">50+</span></p>
            <p class="card-text num-icon">
              <i class="fa-brands fa-square-x-twitter"></i>
              Followers
            </p>
          </div> 
        </div>
      </a>
    </div>  
    <!-- Card E -->
    <div class="col-md-4">
      <a href="https://www.facebook.com/HSJNFinWisdom" style="color: black;" target="_blank">
        <div class="card mb-3">
          <div class="card-body" style="text-align: center;">
            <p class="card-text"><span class="stat-number num" data-n="1000">1000</span></span></p>
            <p class="card-text num-icon">
              <i class="fa-brands fa-facebook"></i>
              Followers
            </p>
          </div> 
        </div>
      </a>
    </div>  
    <!-- Card F -->
    <div class="col-md-4">
      <a href="https://t.me/HSJNFinWisdom" style="color: black;" target="_blank">
        <div class="card mb-3">
          <div class="card-body" style="text-align: center;">
            <p class="card-text"><span class="stat-number num" data-n="1000">1000</span></span></p>
            <p class="card-text num-icon">
              <i class="fa-brands fa-telegram"></i>
              Members
            </p>
          </div> 
        </div>
      </a>
    </div>  
  </div>
</div><br><br>

<!-- loop script -->

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
  $(function () {
    var fx = function fx() {
        $(".stat-number").each(function (i, el) {
            var data = parseFloat($(el).data("n")); // Read the initial value from the HTML
            var initialCount = 0; // Set initial count for all elements

            var props = {
                "from": {
                    "count": initialCount
                },
                "to": {
                    "count": data
                }
            };

            $(props.from).animate(props.to, {
                duration: 1000 * 2, // Change this value to control the speed (2 seconds in this example)
                step: function (now, fx) {
                    // Use Indian numbering system (thousands separator) for formatting
                    $(el).text(Math.ceil(now).toLocaleString('en-IN') + "+");
                },
                complete: function () {
                    if (el.dataset.sym !== undefined) {
                        el.textContent = el.textContent.concat(el.dataset.sym);
                    }
                }
            });
        });
    };

    var reset = function reset() {
        if ($(window).scrollTop() > 90) {
            $(window).off("scroll", reset);
            fx();
        }
    };

    $(window).on("scroll", reset);
});

</script>

<!-- footer -->
<%- include('./includes/footer.ejs'); %>

<!-- scroll animation -->
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({
      once: true,
      duration: 500
    });
  </script>


  <script src="js/script.js"></script>
<!-- bootstrap js  -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

</body></html>