<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Explore rewarding career opportunities, contribute to our vision, and grow with a dynamic team passionate about shaping the future of trading.">
    <title>FAQs - HSJN FinWisdom</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head><body>

<style>
  html,body{
    overflow-x: hidden !important;
  }
  b{
    font-weight: 600;
  }
  .accordion-button{
        background-color: rgb(238, 238, 238);
        margin-bottom: 10px;
    }
    .jello-horizontal{-webkit-animation:jello-horizontal 1s both;animation:jello-horizontal 1s both}
    @-webkit-keyframes jello-horizontal{0%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}30%{-webkit-transform:scale3d(1.25,.75,1);transform:scale3d(1.25,.75,1)}40%{-webkit-transform:scale3d(.75,1.25,1);transform:scale3d(.75,1.25,1)}50%{-webkit-transform:scale3d(1.15,.85,1);transform:scale3d(1.15,.85,1)}65%{-webkit-transform:scale3d(.95,1.05,1);transform:scale3d(.95,1.05,1)}75%{-webkit-transform:scale3d(1.05,.95,1);transform:scale3d(1.05,.95,1)}100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}@keyframes jello-horizontal{0%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}30%{-webkit-transform:scale3d(1.25,.75,1);transform:scale3d(1.25,.75,1)}40%{-webkit-transform:scale3d(.75,1.25,1);transform:scale3d(.75,1.25,1)}50%{-webkit-transform:scale3d(1.15,.85,1);transform:scale3d(1.15,.85,1)}65%{-webkit-transform:scale3d(.95,1.05,1);transform:scale3d(.95,1.05,1)}75%{-webkit-transform:scale3d(1.05,.95,1);transform:scale3d(1.05,.95,1)}100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}
</style>
    
<!-- whattapp -->
<button style="position: fixed; bottom: 1rem; right: 1rem; border-radius: 10px; padding: 5px 6px 5px 8px; z-index: 1000; background-color: #ececec;">
  <a href="https://wa.link/4lrisd"><i class="fa-brands fa-whatsapp" style="font-size: 2.5rem; color: #00a97f;"></i></a>
</button>

<!-- navbar -->
<%- include('./includes/nav.ejs'); %>

<!-- heading -->
<div>
    <div class="container-fluid" style=" background-color: #00cba9; height: 150px">
        <br>
        <h1><p class="display-2 container pb-0 mb-0" style="font-family: 'Oswald', sans-serif; text-align:center">
            Frequently Asked Questions
        </p></h1>
    </div>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#00cba9" fill-opacity="1" d="M0,96L48,112C96,128,192,160,288,154.7C384,149,480,107,576,106.7C672,107,768,149,864,181.3C960,213,1056,235,1152,229.3C1248,224,1344,192,1392,176L1440,160L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
      </svg>
      <img src="images/qna.png" id="bulb" class="d-none d-md-block" style="width: 18%;  right: 4%;" alt="career opportunity for traders" >
</div>

<!-- FAQs start-->


























<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="accordion accordion-flush" id="accordionFlushExample1">

      
        <!-- Accordion Item #1 -->
        <div class="accordion-item jello-horizontal">
          <h2 class="accordion-header" id="flush-heading1">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse1" aria-expanded="false" aria-controls="flush-collapse1">
              What makes HSJN FinWisdom's Technical Analysis Courses unique?
            </button>
          </h2>
          <div id="flush-collapse1" class="accordion-collapse collapse" aria-labelledby="flush-heading1" data-bs-parent="#accordionFlushExample1">
            <div class="accordion-body"><p align="justify">
              Our courses are crafted by seasoned experts, combining theoretical knowledge with practical insights. Dive into dynamic learning experiences that empower you to navigate the markets with confidence.</p>
            </div>
          </div>
        </div>

        <!-- Accordion Item #2 -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading2">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse2" aria-expanded="false" aria-controls="flush-collapse2">
              How can I benefit from Demat Account Services with HSJN FinWisdom?
            </button>
          </h2>
          <div id="flush-collapse2" class="accordion-collapse collapse" aria-labelledby="flush-heading2" data-bs-parent="#accordionFlushExample1">
            <div class="accordion-body">
              <p align="justify">At HSJN FinWisdom, our Demat Account Services offer you a seamless trading experience, backed by our status as an Authorized Person of ICICI Securities. This means you gain access to the advanced trading platforms of ICICI Securities, ensuring you stay at the forefront of market opportunities. Should you ever encounter any challenges, rest assured that HSJN FinWisdom is at your service, ready to assist and enhance your trading journey.</p>
            </div>
          </div>
        </div>

        <!-- Accordion Item #3 -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading3">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse3" aria-expanded="false" aria-controls="flush-collapse3">
              How do I enroll in Technical Analysis Courses at HSJN FinWisdom?
            </button>
          </h2>
          <div id="flush-collapse3" class="accordion-collapse collapse" aria-labelledby="flush-heading3" data-bs-parent="#accordionFlushExample1">
            <div class="accordion-body">
              <p align="justify">Enrolling in our Technical Analysis Courses is easy! Simply navigate to the Courses section, choose the program that suits your needs, and follow the registration process. Once enrolled, you'll gain immediate access to our comprehensive learning materials.</p>
            </div>
          </div>
        </div>

        <!-- Accordion Item #4 -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading4">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse4" aria-expanded="false" aria-controls="flush-collapse4">
              Tell me more about LAS (Loan Against Securities).
            </button>
          </h2>
          <div id="flush-collapse4" class="accordion-collapse collapse" aria-labelledby="flush-heading4" data-bs-parent="#accordionFlushExample1">
            <div class="accordion-body">
              <p align="justify">Loan Against shares or LAS is a loan availed against your shares. Instead of selling your shares, you can simply pledge them as collateral and avail instant funds for your unplanned expenses or for any of your personal needs.</p>
            </div>
          </div>
        </div>

        <!-- Accordion Item #5 -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading5">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse5" aria-expanded="false" aria-controls="flush-collapse5">
              Are the Technical Analysis Courses suitable for beginners?
            </button>
          </h2>
          <div id="flush-collapse5" class="accordion-collapse collapse" aria-labelledby="flush-heading5" data-bs-parent="#accordionFlushExample1">
            <div class="accordion-body">
              <p align="justify">Absolutely! Our courses cater to all levels, from beginners to seasoned traders. We start with the basics and progress to advanced strategies, ensuring a comprehensive learning experience for everyone.</p>
            </div>
          </div>
        </div>

        <!-- Accordion Item #6 -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading6">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse6" aria-expanded="false" aria-controls="flush-collapse6">
              Can I access course materials at my own pace?
            </button>
          </h2>
          <div id="flush-collapse6" class="accordion-collapse collapse" aria-labelledby="flush-heading6" data-bs-parent="#accordionFlushExample1">
            <div class="accordion-body">
              <p align="justify">Certainly! Dive into the world of trading education at your own pace with our beginner courses, featuring pre-recorded videos that you can revisit anytime. In our advanced courses, where time is of the essence, we encourage swift learning to align with the dynamic nature of financial markets. Start with our beginner course for a solid foundation, and then transition seamlessly into the more advanced modules.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="accordion accordion-flush" id="accordionFlushExample2">
        <!-- Accordion Item #7 -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading7">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse7" aria-expanded="false" aria-controls="flush-collapse7">
              Do I receive a certificate upon course completion?
            </button>
          </h2>
          <div id="flush-collapse7" class="accordion-collapse collapse" aria-labelledby="flush-heading7" data-bs-parent="#accordionFlushExample1">
            <div class="accordion-body">
              <p align="justify">Yes, upon successfully completing our courses, you'll receive a certificate from HSJN FinWisdom. Showcase your newfound skills and knowledge with pride.</p>
            </div>
          </div>
      </div>
        <!-- Accordion Item #8 -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading8">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse8" aria-expanded="false" aria-controls="flush-collapse8">
              Can I interact with instructors during the Technical Analysis Courses?
            </button>
          </h2>
          <div id="flush-collapse8" class="accordion-collapse collapse" aria-labelledby="flush-heading8" data-bs-parent="#accordionFlushExample2">
            <div class="accordion-body">
              <p align="justify">Yes, you can! Our courses include interactive elements such as Q&A sessions, discussion forums, and periodic live sessions where you can engage directly with our instructors. We believe in fostering a supportive learning community.</p>
            </div>
          </div>
        </div>

        <!-- Accordion Item #9 -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading9">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse9" aria-expanded="false" aria-controls="flush-collapse9">
              What kind of merchandise is available in the HSJN FinWisdom store?
            </button>
          </h2>
          <div id="flush-collapse9" class="accordion-collapse collapse" aria-labelledby="flush-heading9" data-bs-parent="#accordionFlushExample2">
            <div class="accordion-body">
              <p align="justify">Elevate your trading style with our exclusive range, including customized T-shirts, trendy hoodies, stylish caps, mugs and must have desk-pads. Show off your passion for trading with our unique collection.</p>
            </div>
          </div>
        </div>

        <!-- Accordion Item #10 -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading10">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse10" aria-expanded="false" aria-controls="flush-collapse10">
              Can I customize the merchandise with my own designs?
            </button>
          </h2>
          <div id="flush-collapse10" class="accordion-collapse collapse" aria-labelledby="flush-heading10" data-bs-parent="#accordionFlushExample2">
            <div class="accordion-body">
              <p align="justify">Currently, our merchandise is curated by our design team, but stay tuned for future updates! We're exploring options for customization to make your trading gear truly one-of-a-kind.</p>
            </div>
          </div>
        </div>

        <!-- Accordion Item #11 -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading11">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse11" aria-expanded="false" aria-controls="flush-collapse11">
              How can I place an order for merchandise?
            </button>
          </h2>
          <div id="flush-collapse11" class="accordion-collapse collapse" aria-labelledby="flush-heading11" data-bs-parent="#accordionFlushExample2">
            <div class="accordion-body">
              <p align="justify">Ordering is a breeze! Simply navigate to our Merchandise Store, select your desired items, and proceed to checkout. Your exclusive trading gear will be on its way to you in no time.</p>
            </div>
          </div>
        </div>

        <!-- Accordion Item #12 -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading12">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse12" aria-expanded="false" aria-controls="flush-collapse12">
              Do you offer any discounts on your merchandise for course participants?
            </button>
          </h2>
          <div id="flush-collapse12" class="accordion-collapse collapse" aria-labelledby="flush-heading12" data-bs-parent="#accordionFlushExample2">
            <div class="accordion-body">
              <p align="justify">Absolutely! As a token of appreciation for choosing HSJN FinWisdom for your educational journey, course participants enjoy exclusive discounts on our merchandise. It's our way of saying thank you for being part of our growing community.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>





















<!-- end  -->
<audio id="accordionSound">
  <source src="vdo/sound.mp3" type="audio/mp3">
  Your browser does not support the audio element.
</audio>

<script>
  var accordionButtons = document.querySelectorAll('.accordion-button');
  accordionButtons.forEach(function(button) {
    button.addEventListener('click', function() {
      document.getElementById('accordionSound').play();
    });
  });
</script>

<div class= container>
<p class="para">
  At <i style="color: #00a97f;">HSJNFinWisdom</i>, we believe in transparency and empowering our community with the knowledge and tools they need. If you have any more questions, feel free to reach out to us and we will get back to you.
</p>
</div>
<br>

<!-- footer -->
<%- include('./includes/footer.ejs'); %>

  <script src="js/script.js"></script>
<!-- bootstrap js  -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body></html>