<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Master the art of trading with HSJN FinWisdom – Explore our technical analysis courses designed for stocks, commodities, crypto and forex trading.">
  
  <meta property="og:title" content="HSJN FinWisdom Private Limited">
  <meta property="og:description" content="Explore our technical analysis courses designed for stocks, commodities, crypto and forex trading. Master the art of trading with HSJN FinWisdom">
  <meta property="og:image" content="images/logo.png"> <!-- Add the URL to an image representing your website -->
  <meta property="og:url" content="https://www.hsjnfinwisdom.com">
  <meta property="og:type" content="website">
  
  <title>Home - HSJN FinWisdom</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <link rel="shortcut icon" href="images/logo.png" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link rel="canonical" href="https://www.hsjnfinwisdom.com/" />
  <style>
    @media (min-width: 768px) {
      #laptop-container {
        margin-bottom: 3rem;
      }
    }
    #quizbutton{
      transform: translateY(-35px);
    }
    .youtube-video {
      width: 100%;
      height: 100%;
    }
    .accordion-button{
      background-color: rgb(238, 238, 238);
      margin-bottom: 10px;
    }
    #choose-us{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    #yt-font{color: #666; font-size: 1.1rem; text-align: justify;}
    .num{
      font-size: 2rem;
      font-weight: 500;
    }
    .num-icon{
      font-size: 2rem;
      color: navy;
    }
    @media (min-width: 776px) {
      #yt-font {
        font-size: 1.4rem;
      }
    }
    </style>
    <style>
      .close{
        background-color: crimson;
        color: #fff;
        border-radius: 5px;
      }
      .accept{
        background-color: #009d83;
        color: #fff;
        border-radius: 5px;
        margin-left: 10px;
      }
      .para{
        text-align: justify;
      }
      .know-more{
        border-radius: 15px;
        padding: 3px 10px;
        border: 1px solid black;
        box-shadow: 0 5px 0 black;
        transition: 0.6s;
      }
      .know-more:hover{
        background-color: rgba(0, 0, 128, 0.75);
        color: white;
      }

      .CONTAINER {
        width: 80%;
        padding: 0;
        margin: 0px auto;
        position: relative;
        overflow: hidden;
      }
     
      .CONTAINER:before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -1px;
        width: 2px;
        height: 100%;
        background: #CCD1D9;
        z-index: -1
      }
     
      .TIMELINE-BLOCK {
        width: -webkit-calc(50% + 8px);
        width: -moz-calc(50% + 8px);
        width: calc(50% + 8px);
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        justify-content: space-between;
        clear: both;
      }
      
      .TIMELINE-BLOCK-RIGHT {
        float: right;
      }
      
      .TIMELINE-BLOCK-LEFT {
        float: left;
       direction: rtl;
      }
      
      .TIMELINE-BLOCK-LEFT .para{
        direction: ltr;
      }
 
      .MARKER {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 2px solid #F5F7FA;
        background: #00cba9;
        margin-top: 10px;
      }
      
      .TIMELINE-CONTENT {
        width: 95%;
        padding: 15px;
        color: #555555;
        border-radius: 5px;
        background-color: rgba(240, 248, 255, 0.900);
      }
      
      .TIMELINE-CONTENT h3 {
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 25px;
        font-weight: 500;
      }
 
      @media screen and (max-width: 768px) {
        .CONTAINER:before {
          left: 8px;
          width: 2px;
        }
        .TIMELINE-BLOCK {
          width: 100%;
          margin-bottom: 30px;
        }
        .TIMELINE-BLOCK-RIGHT {
          float: none;
        }
     
        .TIMELINE-BLOCK-LEFT {
          float: none;
          direction: ltr;
        }
      }
    </style>
    <style>
      .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.75);
        justify-content: center;
        align-items: center;
        z-index: 1;
      }
  
      .popup {
        opacity: 0;
        background: #fff;
        padding: 20px;
        width: 80%;
        margin: 0 auto;
        border-radius: 5px;
        text-align: center;
        transition: opacity 0.4s ease;
      }
    </style>
</head>
<body>
    
<!-- whatsapp -->
<button style="position: fixed; bottom: 1rem; right: 1rem; border-radius: 10px; padding: 5px 6px 5px 8px; z-index: 1000; background-color: #ececec;">
  <a href="https://wa.link/4lrisd"><i class="fa-brands fa-whatsapp" style="font-size: 2.5rem; color: #00a97f;"></i></a>
</button>

<%- include('./includes/nav.ejs'); %>

<!-- curve -->
<div>
  <div class="container-fluid" style=" background-color: #00cba9; padding-bottom: 30px">
    <br>
    <p class="fs-1 container pb-0 mb-0">
      Acquire <i style="font-weight: 500;">trading skills</i> in the easiest manner possible.
      <br>
      <span class="fs-3 ms-2" style="color: #f0fff8;">Our Services :</span>
      <br>
      <span class="multiple-text fs-4 container"></span>
    </p>
  </div>
</div>

<!-- laptop -->
<div class="container mt-4">
  <div class="row" id="row"> 

    <style>
      .laptop {
        position: relative;
        overflow: hidden;
      }
      
      .laptop img {
        width: 100%;
        height: auto;
      }
      
      .laptop video {
        position: absolute;
        top: 13%; /* Adjust the top position to center the video within the laptop screen */
        left: 13%; /* Adjust the left position to center the video within the laptop screen */
        width: 74%; /* Adjust the width of the video to fit within the laptop screen */
        height: auto; /* Let the height adjust based on the width to maintain aspect ratio */
      }
    </style>
  
    <div class="col-md-6 Laptop_Video" id="laptop-container">
      <div class="laptop">
        <img alt="Laptop_Image" src="images/laptop_1.png">
        <video src="vdo/Laptop Video.mp4" playsinline autoplay loop muted controlsList="nodownload"></video>
      </div>
    </div>
  
    <div class="py-3 col-md-6 text-center mx-auto">
      <h1>
        Navigate the Stock Market's complexities effortlessly
      </h1>
    </div>

  </div>
</div>

<!-- quiz -->
<p class="para container pb-3 px-3" style="text-align: center;">
  Put your financial knowledge to the test with this simple 10 questions Quiz
</p>
<hr>
<p style="text-align: center;" id="quizbutton">
  <a href="/quiz" target="_blank">
    <button class="tweet" style="padding: 5px;">Take Quiz</button>
  </a>
</p>
<div class="col-10 mx-auto">

  <figure class="bg-light p-4" style="border-left: .35rem solid #00b092; border-top: 1px solid #eee; border-right: 1px solid #eee; border-bottom: 1px solid #eee;">
    <i class="fas fa-quote-left fa-2x mb-4" style="color: #00b092;"></i>
    <blockquote class="blockquote pb-2">
      <p>
        Unleash Your Trading Potential: Embark on a journey of financial empowerment with HSJN FinWisdom, your ultimate destination for unlocking the secrets of trading success. Dive into the world of stocks, crypto, and forex markets with confidence, guided by our unparalleled expertise and cutting-edge educational resources.
      </p>
    </blockquote>
  </figure>

</div>

<br>
<hr>
<br>

<h2 style="text-align: center;">Our Services</h2><br>
<!-- timeline -->
<div class="CONTAINER">

  <div class="TIMELINE-BLOCK TIMELINE-BLOCK-LEFT">
     <div class="MARKER"></div>
     <div class="TIMELINE-CONTENT" data-aos="flip-up">
        <h3>Technical Analysis Courses</h3>
        <p class="para" style="text-align: justify;">
          Our courses cover Trading Psychology, Chart Reading, Price Action, Technical Indicators, Demand-Supply Zones, Selection for Intraday & Swing Trading, Fundamental Analysis, Option Greeks, Option Writing, Hero or Zero Trades, and Risk Management.
          <span style="font-weight: 500;">
            Discover the perfect trading course for your requirement - <span style="color: #009d83;">Beginner</span>, <span style="color: #009d83;">Advance</span>, or <span style="color: #009d83;">Crypto & Forex</span> and embark on your trading adventure with us! 
          </span>
        </p>
        <p style="text-align: center;">
            <button onclick="openDisclaimer(0)" class="know-more" type="button">Explore Now ➢</button>
        </p>
     </div>
  </div>


  <div class="TIMELINE-BLOCK TIMELINE-BLOCK-RIGHT">
     <div class="MARKER"></div>
     <div class="TIMELINE-CONTENT" data-aos="flip-right">
        <h3>Demat Account</h3>
        <p class="para" style="text-align: justify;">
          A demat account is a digital repository that holds and manages an individual's financial securities, such as stocks and bonds in electronic form.
          <span style="font-weight: 500;">
            Click below to open a <span style="color: #009d83;">ICICI Securities</span> demat account - your gateway to electronic trading and holding of securities
          </span>
        </p>
        <p style="text-align: center;">
          <a href="/demat-account" target="_blank">
            <button class="know-more">Sign Up ➢</button>
          </a>
      </p>
     </div>
  </div>   



  <div class="TIMELINE-BLOCK TIMELINE-BLOCK-LEFT">
     <div class="MARKER"></div>
     <div class="TIMELINE-CONTENT"  data-aos="flip-right">
        <h3>Advisory Services</h3>
        <p class="para" style="text-align: justify;">
          Our plan is to provide stock market advisory services once we obtain SEBI registration. As of now we only provide informative and educational content.<span style="font-weight: 500;"> Advisory Services Coming Soon.</span>
        </p>
         <p style="text-align: center;">
        <button onclick="openDisclaimer(2)" class="know-more">Learn More ➢</button></p>
     </div>
  </div>

  <div class="TIMELINE-BLOCK TIMELINE-BLOCK-RIGHT">
     <div class="MARKER"></div>
     <div class="TIMELINE-CONTENT"  data-aos="flip-right">
        <h3>Merchandise Store</h3>
        <p class="para" style="text-align: justify;">
          Express your passion for trading with style. Dive into our Merchandise Store and discover exclusive T-Shirts, Hoodies, Caps, Mugs, Desk Mats and more. Each item is crafted to reflect the spirit of the trading community, making a statement both in and out of the market.
        </p>
         <p style="text-align: center;">
             <a href="/merchandise-store" target="_blank">
        <button class="know-more">Visit Now ➢</button>
        </a>
        </p>
     </div>
  </div>


</div>
<br><br>


<!-- disclaimer -->


<!-- Disclaimer Courses  -->
<div class="overlay" id="overlay0">
  <div class="popup" id="popup0">
    <div class="fs-3" style="font-weight: 500; color: #009d83">Disclaimer</div>
    <p class="para">
      This website and the company HSJN FinWisdom Private Limited - offers educational information, not financial advice. Trading inherently involves risks, and past performance is not indicative of future results. Users are personally responsible for their decisions, urged to conduct thorough research, and advised to consult with a qualified financial advisor before making any trading decisions. HSJN FinWisdom Private Limited is not liable for financial losses incurred by users of our services, and the information provided may be subject to change without prior notice.
    </p>
    <div style="display: flex; float: right">
      <button onclick="closeDisclaimer(0)" class="close" >Close</button>
      <a href="/technical-analysis-courses" target="_blank">
        <button class="accept" onclick="closeDisclaimer(0)">Accept & Continue</button>
      </a>
    </div>
  </div>
</div>


<!-- Disclaimer Advisory -->
<div class="overlay" id="overlay2">
  <div class="popup" id="popup2">
    <div class="fs-3" style="font-weight: 500; color: #009d83">Disclaimer</div>
    <p class="para">
      HSJN FinWisdom Private Limited is not a registered research analyst with SEBI, and as such, does not provide specific buy or sell recommendations. We do not assume any responsibility for financial losses incurred as a result of using our services. Trading involves risks, and individuals should conduct thorough research and seek guidance from a qualified financial advisor before making any decisions. HSJN FinWisdom Private Limited is not responsible for financial losses incurred by users. Information presented is subject to change without guaranteed accuracy.
    </p>
    <div style="display: flex; float: right">
      <button onclick="closeDisclaimer(2)" class="close">Close</button>
      <a href="/advisory-services" target="_blank">
        <button class="accept" onclick="closeDisclaimer(2)">Accept & Continue</button>
      </a>
    </div>
  </div>
</div>


<br>
<!-- why choose us -->
<style>
  .h1 {
  color: white;
  position: relative;
  margin: 0 auto 20px;
  padding: 10px 40px;
  text-align: center;
  background-color: steelblue;
  font-size: 2rem;
}

.h1::before, .h1::after {
  content: '';
  width: 80px;
  height: 100%;
  background-color: rgb(54, 101, 138);

  /* position ribbon ends behind and slightly lower */
  position: absolute;
  z-index: -1;
  top: 20px;
  
  /* clip ribbon end shape */
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 25% 50%);

  /* draw and position the folded ribbon bit */
  background-image: linear-gradient(45deg, transparent 50%, #285b85 50%);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: bottom right;
}

.h1::before {
  left: -60px;
}

.h1::after {
  right: -60px;
  transform: scaleX(-1); /* flip horizontally */
}
@media screen and (min-width: 766px) {
  .h1{width: 85%;}
}
</style>

<!-- What Sets us Apart -->
<div style="margin: 0 4.5rem;" >
<h1 class="h1 ">What sets us Apart ?</h1>
</div><br>

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <table class="table">
        <tbody class="para">
          <tr>
            <td>
              <b><span style="color: #00b092;">⦿ </span>Comprehensive Curriculum:</b><br>
              Master trading essentials to advanced strategies - our curriculum covers it all for a well-rounded education.
            </td>
          </tr>
          <tr>
            <td>
              <b><span style="color: #00b092;">⦿ </span>Experienced Instructors:</b><br>
              Learn from industry experts and seasoned traders, gaining real-world insights for market success.
            </td>
          </tr>
          <tr>
            <td>
              <b><span style="color: #00b092;">⦿ </span>Tailored Support:</b><br>
              Our dedicated team is committed to providing tailored support to address your unique challenges and help you achieve your trading goals effectively.
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-lg-6">
      <table class="table">
        <tbody class="para">
          <tr>
            <td>
              <b><span style="color: #00b092;">⦿ </span>Flexible Learning Options:</b><br>
              Customize your learning with in-person, live online, or self-paced modules - fitting your unique schedule and preferences.
            </td>
          </tr>
          <tr>
            <td>
              <b><span style="color: #00b092;">⦿ </span>Advanced Educational Tools:</b><br>
              Elevate your learning with cutting-edge tools for a sophisticated and effective educational experience.
            </td>
          </tr>
          <tr>
            <td>
              <b><span style="color: #00b092;">⦿ </span>Exclusive Trading Gear:</b><br>
              Elevate your trading experience with our exclusive line of customized T-shirts, hoodies, caps, mugs, and more. Wear your passion and trade in style!
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<br>


<style>
  .slideshow {
    max-width: 100%;
    max-height: 100vh;
    width: auto;
    height: auto;
    margin: auto;
    display: block;
  }
</style>

<!-- slideshow -->
<div id="carouselExampleCaptions" class="carousel slide col-lg-8 mx-auto" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a href="/technical-analysis-courses"><img class="slideshow" src="slides/beststockmarketcourse2024.jpg" alt="Stock Market Course 2024"></a>
    </div>
    <div class="carousel-item">
      <a href="https://secure.icicidirect.com/accountopening?rmcode=HGTIN090"><img class="slideshow" src="slides/demataccountICICI.png" alt="ICICI demat account"></a>
    </div>
    <div class="carousel-item">
      <a href="/technical-analysis-courses"><img class="slideshow" src="slides/masteralgotradingcourse.png" alt="Master Algo Trading"></a>
    </div>
    <div class="carousel-item">
      <a href="/technical-analysis-courses"><img class="slideshow" src="slides/mastertradingpsychology.png" alt="Learn trading psychology"></a>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<br> 
<br> 
<div class="container">
<p align="centre" class="para" style="font-size: 1.25rem;"><strong>Join the FinWisdom Community:</strong> Become a part of a thriving community of traders on a shared mission for success. Connect with like-minded individuals, stay updated with market trends, and elevate your trading game.</p>
</div>

<!-- loop -->

<br>
<h2 style="text-align: center;">Social Media Presence</h2><br>
<br>

<div class="container">
  <div class="row">

    <!-- Card A -->
        <div class="col-md-4">
      <a href="https://g.page/r/CVrRcyU52fXcEAI/review" style="color: black;" target="_blank">
        <div class="card mb-3">
          <div class="card-body" style="text-align: center;">
            <p class="card-text"><span class="num">4.5+</span></p>
            <p class="card-text num-icon">
              <i class="fa-brands fa-google"></i>
              Rating
            </p>
          </div>
        </div>
      </a>
    </div>

    <!-- Card B -->
<div class="col-md-4">
      <a href="hhttps://www.youtube.com/@HSJNFinWisdom" style="color: black;" target="_blank">
        <div class="card mb-3" >
          <div class="card-body" style="text-align: center;">
            <p class="card-text"><span class="stat-number num" data-n="1500">1500</span></p>
            <p class="card-text num-icon">
              <i class="fa-brands fa-youtube"></i>
              Subscribers
            </p>
          </div> 
        </div>
      </a>
    </div>  

    <!-- Card C -->
    <div class="col-md-4">
      <a href="https://www.instagram.com/HSJNFinWisdom" style="color: black;" target="_blank">
        <div class="card mb-3">
          <div class="card-body" style="text-align: center;">
            <p class="card-text"><span class="stat-number num" data-n="1000">1000</span></p>
            <p class="card-text num-icon">
              <i class="fa-brands fa-instagram"></i>
              Followers
            </p>
          </div>
        </div>
      </a>
    </div>
    <!-- Card D -->
    <div class="col-md-4">
      <a href="https://twitter.com/HSJNFinWisdom" style="color: black;" target="_blank">
        <div class="card mb-3">
          <div class="card-body" style="text-align: center;">
            <p class="card-text"><span class="stat-number num" data-n="50">50+</span></p>
            <p class="card-text num-icon">
              <i class="fa-brands fa-square-x-twitter"></i>
              Followers
            </p>
          </div> 
        </div>
      </a>
    </div>  
    <!-- Card E -->
    <div class="col-md-4">
      <a href="https://www.facebook.com/HSJNFinWisdom" style="color: black;" target="_blank">
        <div class="card mb-3">
          <div class="card-body" style="text-align: center;">
            <p class="card-text"><span class="stat-number num" data-n="1000">1000</span></span></p>
            <p class="card-text num-icon">
              <i class="fa-brands fa-facebook"></i>
              Followers
            </p>
          </div> 
        </div>
      </a>
    </div>  
    <!-- Card F -->
    <div class="col-md-4">
      <a href="https://t.me/HSJNFinWisdom" style="color: black;" target="_blank">
        <div class="card mb-3">
          <div class="card-body" style="text-align: center;">
            <p class="card-text"><span class="stat-number num" data-n="1000">1000</span></span></p>
            <p class="card-text num-icon">
              <i class="fa-brands fa-telegram"></i>
              Members
            </p>
          </div> 
        </div>
      </a>
    </div>  
  </div>
</div>

<!-- loop script -->

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
  $(function () {
    var fx = function fx() {
        $(".stat-number").each(function (i, el) {
            var data = parseFloat($(el).data("n")); // Read the initial value from the HTML
            var initialCount = 0; // Set initial count for all elements

            var props = {
                "from": {
                    "count": initialCount
                },
                "to": {
                    "count": data
                }
            };

            $(props.from).animate(props.to, {
                duration: 1000 * 2, // Change this value to control the speed (2 seconds in this example)
                step: function (now, fx) {
                    // Use Indian numbering system (thousands separator) for formatting
                    $(el).text(Math.ceil(now).toLocaleString('en-IN') + "+");
                },
                complete: function () {
                    if (el.dataset.sym !== undefined) {
                        el.textContent = el.textContent.concat(el.dataset.sym);
                    }
                }
            });
        });
    };

    var reset = function reset() {
        if ($(window).scrollTop() > 90) {
            $(window).off("scroll", reset);
            fx();
        }
    };

    $(window).on("scroll", reset);
});

</script>

<!-- youtube -->

<div class="container mt-4">
<h2 style="text-align: left;">Subscribe to our YouTube channel</h2><br>
  <div class="row align-items-center" style="flex-wrap: wrap-reverse;">
      <div class="col-lg-6">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe style="aspect-ratio: 16/9; border-radius: 5px" class="embed-responsive-item youtube-video" src="https://www.youtube.com/embed/Hk7KILOY6Tc?si=1t9rvO3KrgiGM6yY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
      </div>
      <div class="col-lg-6 mt-4 mt-lg-0">
          <div>
              <p id="yt-font">
                Our YouTube channel is designed to help you learn about the stock market, from the basics to advanced topics. We provide educational content on market analysis, trading strategies, technical and fundamental analysis, and more. Our videos are created with the goal of simplifying complex financial concepts and making them easy to understand for our viewers. 
              </p>
          </div>
      </div>
  </div>
</div>



<!-- Interactive Tools -->
<div class="container">
  <hr>
  <h2 style="text-align: center;">Interactive Tools for Your Financial Journey</h2>
  <br>
</div>

<div class="container-fluid">

  <div class="row">

    <!-- SIP Calculator - Half Width -->
    <div class="col-md-6">
      <div id="calculator" style="background-color: #f7f7f7; padding: 20px; border-radius: 10px; box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);">
        <h3 style="color: #009d83;">SIP Calculator</h3>

        <div class="mb-3">
          <label for="monthlyInvestment" class="form-label">Monthly Investment (₹):</label>
          <input style="background-color: #ebebeb6d;" type="number" class="form-control" id="monthlyInvestment" placeholder="Enter Amount" required>
        </div>

        <div class="mb-3">
          <label for="expectedReturn" class="form-label">Expected Return (p.a.):</label>
          <input style="background-color: #ebebeb6d;" type="number" class="form-control" id="expectedReturn" placeholder="Enter Percentage" required>
        </div>

        <div class="mb-3">
          <label for="investmentPeriod" class="form-label">Investment Period:</label>
          <input style="background-color: #ebebeb6d;" type="number" class="form-control" id="investmentPeriod" placeholder="Enter Years" required>
        </div>

        <p style="text-align: center; padding: 20px 0 10px 0">
          <button onclick="calculateSIP()" class="btn btn-primary" style="background-color: #009d83; padding: 10px;">Calculate</button>
        </p>

        <div id="result" style="padding-bottom: 10px; color: #009d83; font-size: 1.1rem;"></div>

      </div>
    </div>

    <!-- Currency Converter - Half Width -->
    <div class="col-md-6">
      <div style="background-color: #f7f7f7; padding: 20px; border-radius: 10px; box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);">
        <h3 style="color: #009d83;">Currency Converter</h3>

        <div class="mb-3">
          <label for="amountToConvert" class="form-label">Amount to Convert:</label>
          <input style="background-color: #ebebeb6d;" type="number" class="form-control" id="amountToConvert" placeholder="Enter Amount" required>
        </div>

        <div class="mb-3">
          <label for="fromCurrency" class="form-label">From Currency:</label>
          <select style="background-color: #ebebeb6d;" class="form-select" id="fromCurrency" required>
            <!-- Add currency options here -->
            <option value="INR">INR</option>
            <option value="USD">USD</option>
            <option value="EUR">EUR</option>
            <option value="GBP">GBP</option>
            <option value="JPY">JPY</option>
            <!-- Add more currencies as needed -->
          </select>
        </div>

        <div class="mb-3">
          <label for="toCurrency" class="form-label">To Currency:</label>
          <select style="background-color: #ebebeb6d;" class="form-select" id="toCurrency" required>
            <!-- Add currency options here -->
            <option value="USD">USD</option>
            <option value="EUR">EUR</option>
            <option value="GBP">GBP</option>
            <option value="JPY">JPY</option>
            <option value="INR">INR</option>
            <!-- Add more currencies as needed -->
          </select>
        </div>

        <p style="text-align: center; padding: 20px 0 10px 0">
          <button onclick="convertCurrency()" class="btn btn-success" style="background-color: #009d83; padding: 10px;">Convert</button>
        </p>

        <div id="conversionResult" style="padding-bottom: 10px; color: #009d83; font-size: 1.1rem;"></div>

      </div>
    </div>

  </div>

</div>


<script>
  function convertCurrency() {
    const amountToConvert = document.getElementById('amountToConvert').value;
    const fromCurrency = document.getElementById('fromCurrency').value;
    const toCurrency = document.getElementById('toCurrency').value;

    fetch(`https://open.er-api.com/v6/latest/${fromCurrency}`)
      .then(response => response.json())
      .then(data => {
        const exchangeRate = data.rates[toCurrency];
        const convertedAmount = amountToConvert * exchangeRate;

        document.getElementById('conversionResult').innerText = `*Converted Amount: ${convertedAmount.toFixed(2)} ${toCurrency}`;
      })
      .catch(error => {
        console.error('Error fetching exchange rates:', error);
        document.getElementById('conversionResult').innerText = 'Error converting currency. Please try again later.';
      });
  }
</script>
<%- include('./includes/footer.ejs'); %>
<!-- typing animation -->
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<script>
  let typingEffect=new Typed('.multiple-text',{
    strings : ['Technical Analysis Courses','Demat Account','Personal Loans'],
    loop:true,
    typeSpeed:60,
    backSpeed:60,
    startDelay:0,
    backdelay:0
  })
</script>

<!-- scroll animation -->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init({
    once: true,
  });
</script>

<script src="js/script.js"></script>
<!-- bootstrap js  -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

<script>
// Activate the carousel and set options
$(document).ready(function () {
  $('#carouselExampleCaptions').carousel({
    interval: 3000, // Set the interval in milliseconds (5 seconds in this example)
    wrap: true, // Allow looping
  });
});
</script>


</body></html>