<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Explore HSJN FinWisdom's Policies: Understand our disclaimer, terms, and policies. Navigate the rules guiding our commitment to transparency.">
    <title>Legal Policies - HSJN FinWisdom</title>
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="css/SERVICES.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <style>
        html,body{user-select: none; text-align: justify;}
        h3{font-size: 1.5rem;}
        strong{font-size: 1.05rem; font-weight: 600;}
    </style>
</head><body>
    
<!-- navbar -->
<nav class="navbar">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">HSJN FinWisdom</span>
    </div>
</nav>

  <br>
<h2 style="text-align: center; color:crimson;">Disclaimer</h2>
<br>
<div class="container" style="color: #666;">
<h4>Important Notice: Read Before Proceeding</h4>
<a href="https://hsjnfinwisdom.com">www.hjsnfinwisdom.com</a>, operating under HSJN FinWisdom Private Limited, wishes to make it abundantly clear that the information and services provided on this platform are intended for educational and informational purposes only.
<br>
<br>

  <ul style="list-style-type: circle;" class="para">
    <li>
      <strong>Not a SEBI Registered Research Analyst:</strong><br>
      We would like to emphasize that HSJN FinWisdom Private Limited is not registered as a Research Analyst with the Securities and Exchange Board of India (SEBI). As per SEBI guidelines, we do not provide any buy or sell recommendations for securities or financial instruments.
    </li><br>
    <li>
      <strong>Authorized Person of ICICI Securities Limited:</strong><br>
      While we are not a registered Research Analyst, we are an authorized person of ICICI Securities Limited. Our services, including demat accounts, loans, and other offerings, are provided in accordance with the guidelines and regulations set forth by ICICI Securities Limited.
    </li><br>
    <li>
      <strong>Not a Financial Services Provider:</strong><br>
      HSJN FinWisdom Private Limited does not claim to be a financial services provider. We are committed to providing information and educational resources to empower individuals with knowledge about technical analysis in stocks, crypto, and forex markets.
    </li><br>
    <li>
      <strong>Information and Education Only:</strong><br>
      The content, courses, and information presented on this website are designed solely for educational and informational purposes. Users are encouraged to make independent decisions and, if necessary, seek advice from qualified financial professionals before making any investment decisions.
    </li><br>
    <li>
      <strong>No Guarantees or Warranties:</strong><br>
      HSJN FinWisdom Private Limited does not guarantee the accuracy, completeness, or reliability of any information provided on this platform. Users acknowledge that all investment decisions involve risks, and past performance is not indicative of future results.
    </li><br>
  </ul>

</div>
<hr>
<!-- start -->
<div class="container" style="color: #666;">

<!-- 1 -->
<h2 style="text-align: center;">Terms and Conditions:</h2>
<br>
Welcome to HSJN FinWisdom Private Limited's website  <a href="https://hsjnfinwisdom.com">www.hjsnfinwisdom.com</a>. By accessing and using this website, you agree to comply with and be bound by the following terms and conditions. Please read these terms carefully before using our website.
<br>
<br>
<ol style="list-style-type: circle;">
  <li><strong>Acceptance of Terms:</strong><br> By using our website, you agree to abide by these Terms and Conditions. If you do not agree with any part of these terms, please refrain from using our website.</li>
<br>
  <li><strong>Intellectual Property:</strong><br> All content, materials, and resources provided on this website, including but not limited to text, graphics, logos, images, audio clips, digital downloads, and software, are the property of HSJN FinWisdom Private Limited and protected by applicable copyright and trademark laws.</li>
<br>
  <li><strong>Use of Services:</strong><br> Our website provides educational services on technical analysis for trading in stocks, crypto, and forex markets. HSJN FinWisdom Private Limited is not a SEBI registered research analyst and does not provide buy or sell recommendations. The information provided is for educational purposes only, and any trading decisions made based on this information are at your own risk.</li>
<br>
  <li><strong>Registration and Accounts:</strong><br> To access certain features of the website, you may be required to register an account. You are responsible for maintaining the confidentiality of your account information and agree to accept responsibility for all activities that occur under your account.</li>
<br>
  <li><strong>Merchandise Products:</strong><br> HSJN FinWisdom Private Limited offers customized merchandise products for sale, including T-shirts, hoodies, caps, mugs, etc. All sales are subject to availability, and we reserve the right to discontinue or modify products at any time.</li>
<br>
  <li><strong>Third-Party Links:</strong><br> Our website may contain links to third-party websites. HSJN FinWisdom Private Limited is not responsible for the content or accuracy of these third-party websites, and the inclusion of any link does not imply endorsement by us.</li>
<br>
  <li><strong>Disclaimer:</strong><br> HSJN FinWisdom Private Limited makes no warranties or representations about the accuracy or completeness of the content on this website. The information provided is for general informational purposes only and should not be considered as financial or investment advice.</li>
<br>
  <li><strong>Privacy Policy:</strong><br> Please review our Privacy Policy to understand how we collect, use, and disclose information about you.</li>
<br>
  <li><strong>Modification of Terms:</strong><br> HSJN FinWisdom Private Limited reserves the right to modify these Terms and Conditions at any time without prior notice. Your continued use of the website after any changes constitutes your acceptance of the modified terms.</li>
<br>
  <li><strong>Contact Information:</strong><br> For any questions or concerns regarding these Terms and Conditions, please contact us at <a href="mailto:hjsnfinwisdom@gmail.com">hjsnfinwisdom@gmail.com</a>.</li>
</ol>

<br><hr><br>

<!-- 2 -->
<h2 style="text-align: center;">Privacy Policy:</h2>
<br>
Welcome to HSJN FinWisdom Private Limited's website at <a href="https://hsjnfinwisdom.com">www.hjsnfinwisdom.com</a>. This Privacy Policy is designed to help you understand how we collect, use, disclose, and safeguard your personal information. By using our website, you agree to the terms outlined in this policy.
<br>
<br>
<ul style="list-style-type: circle;">

    <li>
        <strong>Information We Collect:</strong>
        <ol type="i">
            <li>
                <strong>Personal Information:</strong><br>
                We may collect personal information such as your name, email address, phone number, and address when you: <br>
            • Register for our educational services. <br>
            • Apply for demat account, loan, or insurance services. <br>
            • Make purchases on our website, including merchandise products. <br>
            </li>
            <li>
                <strong>Usage Data:</strong><br>
                We may collect information about your interactions with our website, including your IP address, browser type, pages visited, and the date and time of your visit.
            </li>
        </ol>
    </li>
<br>
    <li>
      <strong>How We Use Your Information:</strong>
      <ul>
        <li>• To provide and maintain our services.</li>
        <li>• To process transactions and deliver merchandise products.</li>
        <li>• To communicate with you, respond to your inquiries, and provide customer support.</li>
        <li>• To personalize your experience on our website.</li>
        <li>• To send you updates, newsletters, and promotional materials.</li>
      </ul>
    </li>
<br>    
    <li>
      <strong>Sharing Your Information:</strong>
      <ul>
        <li>• Third-party service providers for the purpose of providing and improving our services.</li>
        <li>• ICICI Securities for demat account, loan, and insurance services.</li>
        <li>• Merchandise suppliers for the fulfillment of product orders.</li>
      </ul>
      <p>We do not sell, rent, or trade your personal information to third parties for marketing purposes.</p>
    </li>
    
    <li>
      <strong>Security:</strong>
      <p>We take reasonable measures to protect your personal information from unauthorized access, disclosure, alteration, and destruction. However, no method of transmission over the internet or electronic storage is entirely secure, and we cannot guarantee absolute security.</p>
    </li>
    
    <li>
      <strong>Cookies:</strong>
      <p>We use cookies to enhance your experience on our website. You can set your browser to refuse all or some browser cookies, but this may affect your ability to access certain parts of our website.</p>
    </li>
    
    <li>
      <strong>Your Choices:</strong>
      <p>You can choose not to provide certain information, but it may limit your ability to access our services. You can also opt-out of receiving promotional communications by following the unsubscribe instructions provided in the communication.</p>
    </li>
    
    <li>
      <strong>Changes to This Privacy Policy:</strong>
      <p>We may update this Privacy Policy periodically. The most recent version will be posted on our website, and the effective date will be updated accordingly.</p>
    </li>
    
    <li>
      <strong>Contact Us:</strong>
      <p>If you have any questions, concerns, or requests regarding this Privacy Policy, please contact us at <a href="mailto:hsjnfinwisdom@gmail.com">hsjnfinwisdom@gmail.com</a>.</p>
    </li>
  </ul>

<br><hr><br>

<!-- 3 -->
<h2 style="text-align: center;">Shipping Policy:</h2>
<br>
Thank you for choosing HSJN FinWisdom Private Limited for your merchandise purchases within India. Please review our shipping policy below for information on order processing, shipping methods, and delivery.
<br>
<br>
<ol style="list-style-type: circle;">
    <li><strong>Order Processing:</strong><br>
      All orders are processed within 1-3 business days. Orders placed on weekends or public holidays will be processed on the next business day.
    </li>
<br>  
    <li><strong>Shipping Methods:</strong><br>
      We offer standard shipping for all orders within India. The shipping carrier and estimated delivery time will be provided during the checkout process. Please note that delivery times may vary based on the shipping destination within India.
    </li>
<br>  
    <li><strong>Shipping Costs:</strong><br>
      Shipping costs are calculated based on the weight of the merchandise and the destination within India. The shipping cost will be displayed during the checkout process before the order is finalized.
    </li>
<br>  
    <li><strong>Order Tracking:</strong><br>
      Once your order has been shipped, you will receive a confirmation email with a tracking number. You can use this tracking number to monitor the status of your shipment.
    </li>
<br>  
    <li><strong>Delivery Delays:</strong><br>
      While we make every effort to ensure timely delivery, unforeseen circumstances such as weather or other external factors may impact delivery times. HSJN FinWisdom Private Limited is not responsible for any delays beyond our control.
    </li>
<br>  
    <li><strong>Incomplete or Incorrect Address:</strong><br>
      It is the responsibility of the customer to provide a complete and accurate shipping address within India. HSJN FinWisdom Private Limited is not liable for any orders delivered to an incorrect or incomplete address provided by the customer.
    </li>
<br>  
    <li><strong>Shipping Confirmation:</strong><br>
      Upon successful delivery of your order within India, you will receive a shipping confirmation email. If you do not receive this email within the expected delivery time, please contact us at <a href="mailto:hjsnfinwisdom@gmail.com">hjsnfinwisdom@gmail.com</a>.
    </li>
<br>  
    <li><strong>Contact Information:</strong><br>
      For any questions or concerns regarding our shipping policy within India, please contact us at <a href="mailto:hjsnfinwisdom@gmail.com">hjsnfinwisdom@gmail.com</a>.
    </li>
  </ol>
  
<br><hr><br>

<!-- 4 -->
<h2 style="text-align: center;">Refund Policy:</h2>
<br>
We understand that circumstances may arise where a refund is requested for merchandise products. Our refund policy for merchandise is as follows:
<br>
<br>
<ol style="list-style-type: circle;">
    <li><strong>Returns:</strong><br>
      We do not accept returns on any products and services listed on our website.
    </li>
<br>  
    <li><strong>Exchange Policy:</strong><br>
      At HSJN FinWisdom Private Limited, we value your satisfaction with our merchandise products. Please review our exchange policy below:
<br>      
      <ol type="i">
        <li><strong>Exchanges Only:</strong><br>
          We do not accept returns for merchandise products. However, we offer exchanges for items that meet the criteria outlined below.
        </li>
<br>  
        <li><strong>Eligibility for Exchange:</strong><br>
          To be eligible for an exchange, the item must be unused, in its original packaging, and in the same condition as received. Exchanges are accepted within 7 days of the purchase date.
        </li>
<br>  
        <li><strong>Defective or Damaged Items:</strong><br>
          If you receive a defective or damaged item, please contact us at <a href="mailto:hjsnfinwisdom@gmail.com">hjsnfinwisdom@gmail.com</a> with details and images of the issue, and we will assist you in the exchange process.
        </li>
<br>  
        <li><strong>Exchange Process:</strong><br>
          Once your exchange request is approved, you will be provided with instructions on how to return the item. After receiving and inspecting the returned item, we will proceed with the exchange.
        </li>
<br>  
        <li><strong>Non-Exchangeable Items:</strong><br>
          Certain items, such as digital products and downloadable materials, are non-exchangeable.
        </li>
      </ol>
    </li>
<br>  
    <li><strong>Contact Information:</strong><br>
      For any questions or concerns regarding our exchange policy, please contact us at <a href="mailto:hjsnfinwisdom@gmail.com">hjsnfinwisdom@gmail.com</a>.
    </li>
  </ol>
  
</div><br><br>


<!-- footer -->
<footer id="footer" class="footer-1">
      
    <div style="display: flex; align-items: center; justify-content: center; flex-direction: column" class="py-2">
       <a href="tel:+917082667333" style="color: white;">Ph.: <span style="color: #ffffffc2;">+91-</span><span class="underline" style="color: #ffffffc2;">7082667333</span></a>
       <a href="mailto:contact@hsjnfinwisdom.com" style="color: white;"><i class="fa-solid fa-envelope"></i> <span class="underline" style="color: #ffffffc2;">contact@hsjnfinwisdom.com</span></a>
    </div>

    <div class="footer-copyright">
    <div class="container">
    <div class="row">
    <div class="col-md-12 text-center">
    <p style="color: white;"><small style="font-size: 13px;">
        HSJN FinWisdom Private Limited
      © 2023 
      | All Rights Reserved |
    </small></p>
    </div>
    </div>
    </div>
    </div>
    
</footer>

</body></html>